In [2]:
import pandas as pd
filename = "https://raw.githubusercontent.com/ENVS110a-SP23/group8-project/main/BKB_WaterQualityData_2020084%20(1).csv"
df = pd.read_csv(filename)

df.head()

<bound method NDFrame.describe of      Site_Id Unit_Id   Read_Date  Salinity (ppt)  Dissolved Oxygen (mg/L)  \
0        Bay     NaN    1/3/1994             1.3                     11.7
1        Bay     NaN   1/31/1994             1.5                     12.0
2        Bay     NaN    2/7/1994             1.0                     10.5
3        Bay     NaN   2/23/1994             1.0                     10.1
4        Bay     NaN   2/28/1994             1.0                     12.6
...      ...     ...         ...             ...                      ...
2366     Bay     NaN  10/11/2018             1.9                      5.0
2367     Bay     NaN  10/24/2018             0.0                      9.0
2368     Bay     NaN  10/28/2018             0.9                      2.9
2369     Bay     NaN   11/7/2018             1.7                      NaN
2370     Bay     NaN  12/11/2018             0.1                      NaN

      pH (standard units)  Secchi Depth (m)  Water Depth (m)  Water Temp (?C)  \
0                     7.3              0.40             0.40              5.9
1                     7.4              0.20             0.35              3.0
2                     7.2              0.25             0.60              5.9
3                     7.4              0.35             0.50             10.0
4                     7.2              0.20             0.40              1.6
...                   ...               ...              ...              ...
2366                  7.0              4.00             1.20             25.0
2367                  7.0              0.30             0.60             18.0
2368                  7.0              0.40             0.90             13.0
2369                  7.0              0.45             0.90             20.0
2370                  7.0              0.10             0.10             10.0

      Air Temp-Celsius  Air Temp (?F) Time (24:00) Field_Tech DateVerified  \
0                  8.0          46.40        11:00        NaN          NaN
1                  2.6          36.68        11:30        NaN          NaN
2                  7.6          45.68         9:45        NaN          NaN
3                  2.7          36.86          NaN        NaN          NaN
4                  0.0          32.00        10:30        NaN          NaN
...                ...            ...          ...        ...          ...
2366               NaN          78.00        09:30    Sue Poe   11/13/2019
2367               NaN          58.00        09:30    Sue Poe   11/13/2019
2368               NaN          49.00        09:20    Sue Poe   11/13/2019
2369               NaN          65.00        09:45    Sue Poe   11/13/2019
2370               NaN          42.00        09:40    Sue Poe   11/13/2019

          WhoVerified  AirTemp (C)  Year
0                 NaN     8.000000  1994
1                 NaN     2.600000  1994
2                 NaN     7.600000  1994
3                 NaN     2.700000  1994
4                 NaN     0.000000  1994
...               ...          ...   ...
2366  Christine Folks    25.555556  2018
2367  Christine Folks    14.444444  2018
2368  Christine Folks     9.444444  2018
2369  Christine Folks    18.333333  2018
2370  Christine Folks     5.555556  2018

[2371 rows x 17 columns]>

In [5]:
df.describe

<bound method NDFrame.describe of      Site_Id Unit_Id   Read_Date  Salinity (ppt)  Dissolved Oxygen (mg/L)  \
0        Bay     NaN    1/3/1994             1.3                     11.7
1        Bay     NaN   1/31/1994             1.5                     12.0
2        Bay     NaN    2/7/1994             1.0                     10.5
3        Bay     NaN   2/23/1994             1.0                     10.1
4        Bay     NaN   2/28/1994             1.0                     12.6
...      ...     ...         ...             ...                      ...
2366     Bay     NaN  10/11/2018             1.9                      5.0
2367     Bay     NaN  10/24/2018             0.0                      9.0
2368     Bay     NaN  10/28/2018             0.9                      2.9
2369     Bay     NaN   11/7/2018             1.7                      NaN
2370     Bay     NaN  12/11/2018             0.1                      NaN

      pH (standard units)  Secchi Depth (m)  Water Depth (m)  Water Temp (?C)  \
0                     7.3              0.40             0.40              5.9
1                     7.4              0.20             0.35              3.0
2                     7.2              0.25             0.60              5.9
3                     7.4              0.35             0.50             10.0
4                     7.2              0.20             0.40              1.6
...                   ...               ...              ...              ...
2366                  7.0              4.00             1.20             25.0
2367                  7.0              0.30             0.60             18.0
2368                  7.0              0.40             0.90             13.0
2369                  7.0              0.45             0.90             20.0
2370                  7.0              0.10             0.10             10.0

      Air Temp-Celsius  Air Temp (?F) Time (24:00) Field_Tech DateVerified  \
0                  8.0          46.40        11:00        NaN          NaN
1                  2.6          36.68        11:30        NaN          NaN
2                  7.6          45.68         9:45        NaN          NaN
3                  2.7          36.86          NaN        NaN          NaN
4                  0.0          32.00        10:30        NaN          NaN
...                ...            ...          ...        ...          ...
2366               NaN          78.00        09:30    Sue Poe   11/13/2019
2367               NaN          58.00        09:30    Sue Poe   11/13/2019
2368               NaN          49.00        09:20    Sue Poe   11/13/2019
2369               NaN          65.00        09:45    Sue Poe   11/13/2019
2370               NaN          42.00        09:40    Sue Poe   11/13/2019

          WhoVerified  AirTemp (C)  Year
0                 NaN     8.000000  1994
1                 NaN     2.600000  1994
2                 NaN     7.600000  1994
3                 NaN     2.700000  1994
4                 NaN     0.000000  1994
...               ...          ...   ...
2366  Christine Folks    25.555556  2018
2367  Christine Folks    14.444444  2018
2368  Christine Folks     9.444444  2018
2369  Christine Folks    18.333333  2018
2370  Christine Folks     5.555556  2018

[2371 rows x 17 columns]>

In [4]:
# count na values present in the data frame
na_values = df.isna().sum().sum()
print(na_values)

9981