In [4]:
import pandas as pd
filename = "https://raw.githubusercontent.com/ENVS110a-SP23/group8-project/main/BKB_WaterQualityData_2020084%20(1).csv"
df = pd.read_csv(filename)

df.head()

,Site_Id,Unit_Id,Read_Date,Salinity (ppt),Dissolved Oxygen (mg/L),pH (standard units),Secchi Depth (m),Water Depth (m),Water Temp (?C),Air Temp-Celsius,Air Temp (?F),Time (24:00),Field_Tech,DateVerified,WhoVerified,AirTemp (C),Year
0,Bay,NaN,1/3/1994,1.3,11.7,7.3,0.40,0.40,5.9,8.0,46.40,11:00,NaN,NaN,NaN,8.0,1994
1,Bay,NaN,1/31/1994,1.5,12.0,7.4,0.20,0.35,3.0,2.6,36.68,11:30,NaN,NaN,NaN,2.6,1994
2,Bay,NaN,2/7/1994,1.0,10.5,7.2,0.25,0.60,5.9,7.6,45.68,9:45,NaN,NaN,NaN,7.6,1994
3,Bay,NaN,2/23/1994,1.0,10.1,7.4,0.35,0.50,10.0,2.7,36.86,NaN,NaN,NaN,NaN,2.7,1994
4,Bay,NaN,2/28/1994,1.0,12.6,7.2,0.20,0.40,1.6,0.0,32.00,10:30,NaN,NaN,NaN,0.0,1994

In [20]:
df.describe

<bound method NDFrame.describe of      Site_Id Unit_Id   Read_Date  Salinity (ppt)  Dissolved Oxygen (mg/L)  \
0        Bay     NaN    1/3/1994             1.3                     11.7
1        Bay     NaN   1/31/1994             1.5                     12.0
2        Bay     NaN    2/7/1994             1.0                     10.5
3        Bay     NaN   2/23/1994             1.0                     10.1
4        Bay     NaN   2/28/1994             1.0                     12.6
...      ...     ...         ...             ...                      ...
2366     Bay     NaN  10/11/2018             1.9                      5.0
2367     Bay     NaN  10/24/2018             0.0                      9.0
2368     Bay     NaN  10/28/2018             0.9                      2.9
2369     Bay     NaN   11/7/2018             1.7                      NaN
2370     Bay     NaN  12/11/2018             0.1                      NaN

      pH (standard units)  Secchi Depth (m)  Water Depth (m)  Water Temp (?C)  \
0                     7.3              0.40             0.40              5.9
1                     7.4              0.20             0.35              3.0
2                     7.2              0.25             0.60              5.9
3                     7.4              0.35             0.50             10.0
4                     7.2              0.20             0.40              1.6
...                   ...               ...              ...              ...
2366                  7.0              4.00             1.20             25.0
2367                  7.0              0.30             0.60             18.0
2368                  7.0              0.40             0.90             13.0
2369                  7.0              0.45             0.90             20.0
2370                  7.0              0.10             0.10             10.0

      Air Temp-Celsius  Air Temp (?F) Time (24:00) Field_Tech DateVerified  \
0                  8.0          46.40        11:00        NaN          NaN
1                  2.6          36.68        11:30        NaN          NaN
2                  7.6          45.68         9:45        NaN          NaN
3                  2.7          36.86          NaN        NaN          NaN
4                  0.0          32.00        10:30        NaN          NaN
...                ...            ...          ...        ...          ...
2366               NaN          78.00        09:30    Sue Poe   11/13/2019
2367               NaN          58.00        09:30    Sue Poe   11/13/2019
2368               NaN          49.00        09:20    Sue Poe   11/13/2019
2369               NaN          65.00        09:45    Sue Poe   11/13/2019
2370               NaN          42.00        09:40    Sue Poe   11/13/2019

          WhoVerified  AirTemp (C)  Year
0                 NaN     8.000000  1994
1                 NaN     2.600000  1994
2                 NaN     7.600000  1994
3                 NaN     2.700000  1994
4                 NaN     0.000000  1994
...               ...          ...   ...
2366  Christine Folks    25.555556  2018
2367  Christine Folks    14.444444  2018
2368  Christine Folks     9.444444  2018
2369  Christine Folks    18.333333  2018
2370  Christine Folks     5.555556  2018

[2371 rows x 17 columns]>

printing summary of the missing data:

In [36]:
df.shape
# count 'N/A' values present in the data frame
# for row in df:
#    na_values = df.loc[df[row]==('N\/A'),:].sum().sum()
# can't remember if \ is used to search for a '/' in python
# # na_values = df.isin(['N\/A']).sum().sum()
# print("Number of N/A values: ", na_values)
# count NaN values present in the data frame
null_values = df.isnull().sum().sum()
print("Number of NaN (can start as N/A, None, or null) values: ", null_values)
# count number of Not Recorded values present in the data frame
nr_values = df.isin(['Not Recorded']).sum().sum()
print("Number of Not Recorded values: ",nr_values)

Number of NaN (can start as N/A, None, or null) values:  9981

KeyError: 'False: boolean label can not be used without a boolean index'

In [13]:
#summary statistics of key variables
df[['Salinity (ppt)', 'Dissolved Oxygen (mg/L)', 'pH (standard units)','Secchi Depth (m)','Water Depth (m)', 'Air Temp-Celsius']].describe()

,Salinity (ppt),Dissolved Oxygen (mg/L),pH (standard units),Secchi Depth (m),Water Depth (m),Air Temp-Celsius
count,2241.000000,1520.000000,2276.000000,2298.000000,2300.000000,85.000000
mean,0.717068,6.646263,7.168212,0.524898,0.762559,16.437647
std,1.230819,2.506608,0.788485,0.473663,0.621140,11.754138
min,0.000000,0.000000,0.300000,0.000000,0.010000,0.000000
25%,0.000000,4.800000,6.500000,0.300000,0.400000,9.000000
50%,0.000000,6.500000,7.000000,0.400000,0.650000,15.000000
75%,1.000000,8.500000,7.500000,0.650000,0.950000,21.700000
max,9.000000,15.100000,9.900000,9.000000,12.000000,74.000000

removing the missing data:

In [8]:
# removing N/A values from the data set and reset the index
df.loc(df.isna().any(axis=1).reset_index(drop=True))
# removing NaN values from the data set and reset the index
df.loc(df.isnull().any(axis=1).reset_index(drop=True))
# removing Not Recorded values from the data set and reset the index
df.loc(df==(['Not Recorded']).any(axis=1).reset_index(drop=True))

TypeError: unhashable type: 'Series'